%h1 Hello, World
%p Welcome to Cilantro!
%p You'll want to replace this file (app/views/index.haml) with your own view, and overwrite the controller (app/controllers/main.rb) with your own custom routings and action code.