#header.span-24
  %h1 Twitter!
#content
  %p
    See existing
    %a{:href => url(:posts)} updates
  %form{:action => '/posts', :method => 'POST'}
    %input{:type => 'text', :name => 'post[update]'}
    %p
      %input{:type => 'submit'}
